{% extends 'base.html.twig' %} {% block title %}Mes Ruches{% endblock %} {%
block body %}

<div class="min-vh-100 header-bg pb-5">
  <div class="apiary-bg pt-3 pb-3">
    <h1
      class="text-center text-uppercase text-title-banner bg-dark-banner pt-2 pb-2 border-bottom border-top"
    >
      Mes Ruches
    </h1>
  </div>
  <div
    class="d-flex justify-content-center align-items-center flex-wrap fixed-bottom background-blur"
  >
    <a class="btn btn-warning m-3" href="{{ path('app_hives_new') }}"
      >+ Ajouter une ruche</a
    >
    <a class="btn btn-secondary m-3" href="{{ path('app_user_dashboard') }}"
      >Retour</a
    >
  </div>
  <div class="d-flex justify-content-around flex-wrap pt-5 pb-5">
    {% for t_hive in t_hives %}

    <div
      class="card text-center col-ms-4 mt-4 mb-2 shadow-lg card-hover ms-1 me-1"
    >
      <div class="card-header">{{ t_hive.reference }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ t_hive.fkApiary }}</h5>
        <p class="card-text">
          {{ t_hive.fkCategory }}
        </p>
        <a
          class="btn btn-primary m-2"
          href="{{ path('app_hives_show', { id: t_hive.id }) }}"
          >Afficher</a
        >

        <a
          class="btn btn-success m-2"
          href="{{ path('app_hives_edit', { id: t_hive.id }) }}"
          >Modifier</a
        >
      </div>
      <div class="card-footer text-muted">{{ t_hive.fkType }}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
