{% extends 'base.html.twig' %}

{% block title %}TBreeds index{% endblock %}

{% block body %}
    <h1>TBreeds index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_breed in t_breeds %}
            <tr>
                <td>{{ t_breed.id }}</td>
                <td>{{ t_breed.label }}</td>
                <td>
                    <a href="{{ path('app_breeds_show', {'id': t_breed.id}) }}">show</a>
                    <a href="{{ path('app_breeds_edit', {'id': t_breed.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_breeds_new') }}">Create new</a>
{% endblock %}
