{% extends 'base.html.twig' %}

{% block title %}TBreeds{% endblock %}

{% block body %}
    <h1>TBreeds</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ t_breed.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ t_breed.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_breeds_index') }}">back to list</a>

    <a href="{{ path('app_breeds_edit', {'id': t_breed.id}) }}">edit</a>

    {{ include('breeds/_delete_form.html.twig') }}
{% endblock %}
